/* Universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
}

/* Content-wrapper */
.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    box-sizing: border-box;
}

/* Showcase */
.showcase {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 800px;
}

.sale-tag {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    color: #06ce59;
    left: 50%;
}

.sale-tag:first-letter {
    font-size: 250%;
    color: #0a0a0a;
}

/* Image Slider */
img {
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: contain;

}

/* Map Div */
#map1 {
    display: none;
    width: 780px;
}

.cycle-slideshow {
    display: block;
    position: relative;
    height: 410px;
}

.cycle-prev,
.cycle-next {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 44%;
    z-index: 999999;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    font-size: 200%;
    font-weight: 900;
}

.cycle-prev {
    left: 10%;
}

.cycle-next {
    right: 10%;
}

/* Thumbnails */
.cycle-pager {
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 99999;
    cursor: pointer;
}

.cycle-pager a {
    display: inline-block;
    margin: 0 5px;
    opacity: .4;
    border: 2px solid rgba(255, 255, 255, 0.3)
}

.cycle-pager .cycle-pager-active {
    opacity: 1;
    border: 2px solid rgba(255, 255, 255, 0.7)
}

.cycle-pager .thumb {
    width: 8%;
}

.thumb {
    display: block;
}

.content-land {
    flex-direction: column;
    padding: 0 30px;
    width: 40%;
    margin-top: 100px;
}


.land_owner {
    padding-top: 20px;
}

.caption {
    padding-top: 40px;
    text-align: justify;
}

h4 {
    color: #06ce59;
    font-size: 14px;
}

#read_more {
    display: none
}

.buttons {
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 10px 20px;
    margin-inline: auto;
    margin: auto;
    width: 50%;
}

.map_btn {
    background: #0497c4f8;
}

.images_btn {
    background: #bcc0c2;
}

.button {
    cursor: pointer;
    display: inline-block;
    border: none;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    border-radius: .28571429rem;
}

.buttons .or {
    position: relative;
    width: .3em;
    height: 2.57142857em;
    z-index: 3;

}

.buttons .or::before {
    position: absolute;
    text-align: center;
    border-radius: 500rem;
    content: 'or';
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    text-shadow: none;
    margin-top: -.89285714em;
    margin-left: -.89285714em;
    width: 1.78571429em;
    height: 1.78571429em;
    line-height: 1.78571429em;
    color: rgba(0, 0, 0, .4);
    font-style: normal;
    font-weight: 700;
    -webkit-box-shadow: 0 0 0 1px transparent inset;
    box-shadow: 0 0 0 1px transparent inset;
}

.l_footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    background: #06ce59;
    color: #dff9fb;
}

#map2 {
    display: none;
}


/* Media Queries */
/* 
    Device = Desktops
    Screen higher than 1281px
*/
@media(min-width:768px) and (max-width:1024px) {
    .showcase {
        width: 100%;
    }

    .caption {
        width: 100%;
    }

    .buttons {
        margin: auto;
        width: 50%;
    }

    .content-land {
        width: 50%;
        margin: auto;
    }

    .land_details {
        width: 100%;
    }

    .land_owner {
        width: 100%;
    }
}

/* 
    Device = Low resolution tablets, Mobiles
*/
@media(min-width:320px) and (max-width:767px) {
    .content-wrapper {
        display: block;
    }

    .sale-tag {
        line-height: 1;
        margin: 0 auto;
        padding: 5px 0;
        left: 0;
        font-size: 15px;
        text-align: center;
    }

    .showcase {
        max-width: 100%;
        height: auto;
    }

    .cycle-slideshow {
        display: block;
        position: relative;
        height: 300px;
    }

    img {
        display: block;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .buttons {
        display: none;
    }

    .content-land {
        width: auto;
        text-align: center;
        margin-top: 20px;
    }

    .land_owner {
        padding-top: 10px;
    }

    .caption {
        padding-top: 10px;
        text-align: center;
    }

    #map2 {
        max-width: 100%;
        margin-top: 10px;
        display: block;
    }
}


/*  Inquiry Box  */
.box {
    padding: 15px;
    background: #dff9fb;
    text-align: center;
    border-radius: 8px;
}

.box input[type="text"],
.box input[type="email"],
.box input[type="tel"],
.box input[type="email"] {

    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 1px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #6F1E51;
    border-radius: 8px;
    transition: 0.25s;

}

.box input[type="text"]:focus,
.box input[type="password"],
.box input[type="tel"],
.box input[type="email"]:focus {
    width: 280px;
    border-color: #4df024;

}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 1px #27ae60;
    padding: 14px 40px;
    outline: none;
    color: #34495e;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #4df024;
}

.box h1 {
    color: #34495e;
    text-transform: uppercase;
    font-weight: 500;
}