html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #69e09ba1;
}

.wrapper{
    margin: auto;
    grid-gap: 10px;
}

/* Nav Bar */
.main-nav{
    width: 100%;
    background-color: #577965fa;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;

}

.main-nav a{
    color: white;
    text-align: center;
    text-decoration: none;
}

.main-nav li{
    display: inline;
    text-decoration: none;
    padding: 0 20px 0 20px;
}

.main-nav a:hover{
    background-color: #6F1E51;
    padding:20px;
}


/*Top Container Grid Areas */
.top-container{
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    'showcase land_details'
    'showcase land_owner'
    'l_footer l_footer';
}

/* Showcase */
.showcase{
    grid-area: showcase;
    margin-top: 10px;
    box-sizing: border-box;
}
.land_details{
    grid-area: land_details;
    margin-left: 0px;
}
.land_owner{
    grid-area: land_owner;
}

.footer{
    grid-area: l_footer;
}


#map{
    grid-area: showcase;
    display: none;
    margin-left: 20px;
}


/* Image Slider */
.slide-container{
    width: 800px;
    height: 400px;
    margin-right:auto;
    margin-left: auto;
    overflow: hidden;
    text-align: center;
    background-color: #27ae60;
}

.image-container{
    width: 2400px;
    background-color: yellow;
    height:400px;
    position: relative;
    clear: both;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}
.slider-image{
    float:left;
    margin: 0px;
    padding: 0px;
    position:relative;
}

.button-container{
    top:-20px;
    position: relative;
}

.slider-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
}
#slider-image-1:target ~ .image-container{
    left: 0px;

}
#slider-image-2:target ~ .image-container{
    left: -800px;
  
}
#slider-image-3:target ~ .image-container{
    left: -1600px;
    
}

.caption{
    margin-left: 20px;
    text-align: center;
}



/* Media Queries */
/* 
    Device = Desktops
    Screen higher than 1281px
*/
@media(min-width:1281px){

}


/* 
    Device= Laptops, Desktops
    Screen b2n 1025px to 1280px
*/
@media(min-width:1025px) and (max-width:1280px){

}

/* 
    Device = Tablets, Ipads
    Screen b2n 768px to 1024px
*/
@media(min-width: 768px) and (max-width:1024px){

}

/* 
    Device = Tablets, Ipads
    Screen b2n 768px to 1024px
*/
@media(min-width:768px) and (max-width:1024px){

}

/* 
    Device = Low resolution tablets, Mobiles
    Screen b2n 481px to 767px
*/
@media(min-width:481px) and (max-width:767px){

}

/*
    Device = Most of the Smartphones (Potrait)
    Screen b2n 320px to 479px
*/
@media(min-width: 320px) and (max-width:479px){

}

    /*  Inquiry Box  */
.box{
    padding: 15px;
    background:#dff9fb;
    text-align: center;
    border-radius: 8px;
}

.box input[type= "text"],.box input[type="email"],.box input[type="tel"],.box input[type="email"]{
   
    background: none;
    display:block;
    margin:10px auto;
    text-align:center;
    border: 1px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #6F1E51;
    border-radius: 8px;
    transition: 0.25s;

}

.box input[type= "text"]:focus,.box input[type="password"],.box input[type="tel"],.box input[type="email"]:focus{
    width: 280px;
    border-color: #4df024;

}

.box input[type="submit"]{
    border: 0;
    background: none;
    display:block;
    margin:10px auto;
    text-align:center;
    border: 1px #27ae60;
    padding: 14px 40px;
    outline: none;
    color: #34495e;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover{
    background:#4df024;
}

.box h1{
     color: #34495e;
     text-transform: uppercase;
     font-weight: 500;
}

